<!-- modal category new -->
<div class="modal fade modalClass" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="categoryModalLabel">Criar nova categoria</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div>
                <form action="/category" method="POST" id="">
                    <div class="form-group modal-body">
                        <label for="fname" class="col-form-label">Nome:</label>
                        <input type="text" class="form-control" name="fname" id="fname">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- modal expense new -->
<div class="modal fade modalClass" id="expenseModal" tabindex="-1" role="dialog" aria-labelledby="expenseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="expenseModalLabel">Criar nova despesa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div>
                <form action="/expense" method="POST" id="">
                    <div class="form-group modal-body">

                        <label for="fcategory" class="col-form-label">Categoria</label>
                        <!-- <input type="text" class="form-control" name="fcategory" id="fcategory"> -->
                        <select class="form-control" name="fcategory" id="fcategory">
                            <option disabled selected value> -- select an option -- </option>
                            <!-- <option hidden disabled selected value> -- select an option -- </option> -->
                            <% for(var i = 0; i < objDados.categories.length; i++) { %>
                                <option value='<%= objDados.categories[i].name %>'>
                                    <%= objDados.categories[i].name %>
                                </option>
                            <% } %>
                        </select>

                        <label for="fname" class="col-form-label">Nome:</label>
                        <input type="text" class="form-control" name="fname" id="fname">

                        <label for="fdue" class="col-form-label">Dia do Vencimento:</label>
                        <select class="form-control" name="fdue" id="fdue">
                            <option disabled selected value> -- select an option -- </option>
                            <% for(var i = 1; i < 32; i++) { %>
                                <option value='<%= i %>'>
                                    <%= i %>
                                </option>
                            <% } %>
                        </select>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- modal revenue new -->
<div class="modal fade modalClass" id="revenueModal" tabindex="-1" role="dialog" aria-labelledby="revenueModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="revenueModalLabel">Criar nova receita</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div>
                <form action="/revenue" method="POST" id="">
                    <div class="form-group modal-body">
                        <label for="fcategory" class="col-form-label">Categoria</label>
                        <!-- <input type="text" class="form-control" name="fcategory" id="fcategory"> -->
                        <select class="form-control" name="fcategory" id="fcategory">
                            <option disabled selected value> -- select an option -- </option>
                            <!-- <option hidden disabled selected value> -- select an option -- </option> -->
                            <% for(var i = 0; i < objDados.categories.length; i++) { %>
                                <option value='<%= objDados.categories[i].name %>'>
                                    <%= objDados.categories[i].name %>
                                </option>
                                <% } %>
                        </select>
                        <label for="fname" class="col-form-label">Nome:</label>
                        <input type="text" class="form-control" name="fname" id="fname">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- modal category del -->
<div class="modal fade modalClass" id="categoryModalDel" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="categoryModalLabel">Excluir categoria</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div>
                <form action="/category/del" method="POST">
                    <div class="form-group modal-body">
                        <label for="fname" class="col-form-label">Nome</label>
                        <select class="form-control" name="fname" id="fname">
                            <option disabled selected value> -- select an option -- </option>
                            <% for(var i = 0; i < objDados.categories.length; i++) { %>
                                <option value='<%= objDados.categories[i].name %>'>
                                    <%= objDados.categories[i].name %>
                                </option>
                                <% } %>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- modal expense del -->
<div class="modal fade modalClass" id="expenseModalDel" tabindex="-1" role="dialog" aria-labelledby="expenseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="expenseModalLabel">Excluir despesa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div>
                <form action="/expense/del" method="POST" id="">
                    <div class="form-group modal-body">
                        <label for="fname" class="col-form-label">Nome</label>
                        <select class="form-control" name="fname" id="fname">
                            <option disabled selected value> -- select an option -- </option>
                            <% for(var i = 0; i < objDados.expenses.length; i++) { %>
                                <option value='<%= objDados.expenses[i].name %>'>
                                    <%= objDados.expenses[i].name %>
                                </option>
                                <% } %>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- modal revenue del -->
<div class="modal fade modalClass" id="revenueModalDel" tabindex="-1" role="dialog" aria-labelledby="revenueModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="revenueModalLabel">Excluir receita</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div>
                <form action="/revenue/del" method="POST" id="">
                    <div class="form-group modal-body">
                        <label for="fname" class="col-form-label">Nome</label>
                        <select class="form-control" name="fname" id="fname">
                            <option disabled selected value> -- select an option -- </option>
                            <% for(var i = 0; i < objDados.revenues.length; i++) { %>
                                <option value='<%= objDados.revenues[i].name %>'>
                                    <%= objDados.revenues[i].name %>
                                </option>
                            <% } %>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- modal revenue insert -->
<div class="modal fade modalClass" id="revenueModalInsert" tabindex="-1" role="dialog" aria-labelledby="revenueModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="revenueModalLabel">Inserir receita</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div>
                <form action="/insertRevenue" method="POST" id="">
                    <div class="form-group modal-body">
                        
                        <label for="fyear" class="col-form-label">Ano</label>
                        <select class="form-control" name="fyear" id="fyear">
                            <option disabled selected value> -- select an option -- </option>
                            <% for(var i = 2015; i < 2040; i++) { %>
                                <option value='<%= i %>'>
                                    <%= i %>
                                </option>
                            <% } %>
                        </select>

                        <label for="fmonth" class="col-form-label">Mês</label>
                        <select class="form-control" name="fmonth" id="fmonth">
                            <option disabled selected value> -- select an option -- </option>
                            <% for(var i = 1; i < 13; i++) { %>
                                <option value='<%= i %>'>
                                    <%= i %>
                                </option>
                            <% } %>
                        </select>

                        <label for="fname" class="col-form-label">Receita</label>
                        <select class="form-control" name="fname" id="fname">
                            <option disabled selected value> -- select an option -- </option>
                            <% for(var i = 0; i < objDados.revenues.length; i++) { %>
                                <option value='<%= objDados.revenues[i].name %>'>
                                    <%= objDados.revenues[i].name %>
                                </option>
                            <% } %>
                        </select>

                        <label for="fvalue" class="col-form-label">Valor</label>
                        <input type="text" class="form-control" name="fvalue" id="fvalue">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- modal expense insert -->
<div class="modal fade modalClass" id="expenseModalInsert" tabindex="-1" role="dialog" aria-labelledby="expenseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="expenseModalLabel">Inserir despesa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div>
                <form action="/insertExpense" method="POST" id="">
                    <div class="form-group modal-body">
                        
                        <label for="fyear" class="col-form-label">Ano</label>
                        <select class="form-control" name="fyear" id="fyear">
                            <option disabled selected value> -- select an option -- </option>
                            <% for(var i = 2015; i < 2040; i++) { %>
                                <option value='<%= i %>'>
                                    <%= i %>
                                </option>
                            <% } %>
                        </select>

                        <label for="fmonth" class="col-form-label">Mês</label>
                        <select class="form-control" name="fmonth" id="fmonth">
                            <option disabled selected value> -- select an option -- </option>
                            <% for(var i = 1; i < 13; i++) { %>
                                <option value='<%= i %>'>
                                    <%= i %>
                                </option>
                            <% } %>
                        </select>

                        <label for="fname" class="col-form-label">Despesa</label>
                        <select class="form-control" name="fname" id="fname">
                            <option disabled selected value> -- select an option -- </option>
                            <% for(var i = 0; i < objDados.expenses.length; i++) { %>
                                <option value='<%= objDados.expenses[i].name %>'>
                                    <%= objDados.expenses[i].name %>
                                </option>
                            <% } %>
                        </select>

                        <label for="fvalue" class="col-form-label">Valor</label>
                        <input type="text" class="form-control" name="fvalue" id="fvalue">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>