<!-- Tabela de despesas e receitas -->
<div class="table-responsive col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
  <form action="/report" method="get" class="form-inline">
    <div class="mr-3 mb-3">
      <select id="fyear" name="fyear" class="form-control">
        <option selected>Choose Year...</option>
        <% for(var i = 2019; i < 2040; i++) { %>
        <option value="<%= i %>">
          <%= i %>
        </option>
        <% } %>
      </select>
    </div>
    <div class="mr-3 mb-3">
      <select id="fmonth" name="fmonth" class="form-control">
        <option selected>Choose Month...</option>
        <% for(var i = 1; i < 13; i++) { %>
        <option value="<%= i %>">
          <%= i %>
        </option>
        <% } %>
      </select>
    </div>
    <button type="submit" class="btn btn-secondary mb-3">Filter</button>
  </form>

  <table class="table min-whith table-striped table-light table-sm">
    <thead class="thead-light">
      <tr>
        <th>Categoria</th>
        <th>Descrição</th>
        <th>Valor</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for(var i = 0; i < objDados.insertRevenue.length; i++) { %> <% if(
      objDados.insertExpense[i].type == 'Receita' &&
      objDados.insertExpense[i].month == month && objDados.insertExpense[i].year
      == year){ %>
      <tr>
        <td>
          <% for(var j = 0; j < objDados.revenues.length; j++) { %> <% if(
          objDados.revenues[j].name == objDados.insertRevenue[i].insertion ){ %>
          <%= objDados.revenues[j].category %>
          <!--% console.log('insertRevenue: ' + objDados.insertRevenue[1].insertion) %-->
          <% } %> <% } %>
        </td>
        <td>
          <%= objDados.insertRevenue[i].insertion %>
        </td>
        <td>
          <%= objDados.insertRevenue[i].value %>
        </td>
        <td></td>
        <td></td>
        <td class="options">
          <a href="" class="icon">
            <img src="/images/icons8-editar-48.png" width="20" height="20" />
          </a>
          <a href="" class="icon">
            <img src="/images/icons8-excluir-64.png" width="20" height="20" />
          </a>
        </td>
      </tr>
      <% } %> <% } %>
      <tr>
        <td><b>Total</b></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <table class="table min-whith table-striped table-light table-sm">
    <thead class="thead-light">
      <tr>
        <th>Categoria</th>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Vencimento</th>
        <th>Situação</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for(var i = 0; i < objDados.insertExpense.length; i++) { %> <% if(
      objDados.insertExpense[i].type == 'Despesa' &&
      objDados.insertExpense[i].month == month && objDados.insertExpense[i].year
      == year ){ %>
      <tr>
        <td>
          <% for(var j = 0; j < objDados.expenses.length; j++) { %> <% if(
          objDados.expenses[j].name == objDados.insertExpense[i].insertion ){ %>
          <%= objDados.expenses[j].category %> <% } %> <% } %>
        </td>
        <td>
          <%= objDados.insertExpense[i].insertion %>
        </td>
        <td>
          <%= objDados.insertExpense[i].value %>
        </td>
        <td>
          <% for(var j = 0; j < objDados.expenses.length; j++) { %> <% if(
          objDados.expenses[j].name == objDados.insertExpense[i].insertion ){ %>
          <%= objDados.expenses[j].due %> <% } %> <% } %>
        </td>
        <td>
          <%= objDados.insertExpense[i].situation %>
        </td>
        <td class="options">
          <a
            href="" data-toggle="modal" data-target="#expenseModalInsertUpdate" 
            data-whateverid="<%= objDados.insertExpense[i].id %>" 
            data-whateveryear="<%= objDados.insertExpense[i].year %>" 
            data-whatevermonth="<%= objDados.insertExpense[i].month %>" 
            data-whateverinsertion="<%= objDados.insertExpense[i].insertion %>" 
            data-whatevervalue="<%= objDados.insertExpense[i].value %>" 
            class="icon" >
            <img src="/images/icons8-editar-48.png" width="20" height="20" />
          </a>
          <a
            href="/insertExpense/del/<%= objDados.insertExpense[i].id %>"
            class="icon"
          >
            <img src="/images/icons8-excluir-64.png" width="20" height="20" />
          </a>
        </td>
      </tr>
      <% } %> <% } %>
      <tr>
        <td><b>Total</b></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
