<!doctype html>
<html lang="pt-br">

<head>
  <%- include('./partials/head.ejs'); -%>
</head>

<body id="bodyHome">
  <header class="text-center">
    <%- include('./partials/header.ejs'); -%>
  </header>

  <div class="d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
    <main role="main" class="inner cover">
      <h1>
        <%= title %>
      </h1>
      <p>Welcome my brother to
        <%= title %>
      </p>
    </main>
  </div>
  <footer class="footer text-center">
    <%- include('./partials/footer.ejs'); -%>
  </footer>
  <%- include('./partials/scripts.ejs'); -%>
</body>

</html>