<!doctype html>
<html lang="pt-br">

<head>
  <%- include('./partials/head.ejs'); -%>
</head>

<body class="text-center">
  <div class="p-3 mx-auto flex-column">
    <header>
      <%- include('./partials/header.ejs'); -%>
    </header>

    <aside id="optionsInput">
      <button type="button" class="btn btn-outline-info buttonInput" data-toggle="modal" data-target="#revenueModal">Adicionar Receita</button>
      <button type="button" class="btn btn-outline-info buttonInput" data-toggle="modal" data-target="#expenseModal">adicionar Despesa</button>
      <button type="button" class="btn btn-outline-info buttonInput" data-toggle="modal" data-target="#categoryModal">Adicionar Categoria</button>
      <button type="button" class="btn btn-outline-info buttonInput" data-toggle="modal" data-target="#expenseModalDel">Remover Despesa</button>
      <button type="button" class="btn btn-outline-info buttonInput" data-toggle="modal" data-target="#revenueModalDel">Remover Receita</button>
      <button type="button" class="btn btn-outline-info buttonInput" data-toggle="modal" data-target="#categoryModalDel">Remover Categoria</button>
      <button type="button" class="btn btn-outline-info buttonInput">Histórico</button>
      <%- include('./partials/modal.ejs', {objDados}); -%>
    </aside>

    <main role="main" id="mainReports">

      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th>Categoria</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% for(var i = 0; i < objDados.revenues.length; i++) { %>
            <tr>
              <td>
                <%= objDados.revenues[i].category %>
              </td>
              <td>
                <%= objDados.revenues[i].name %>
              </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <% } %>
              <tr>
                <td>Total de receitas</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
        </tbody>
      </table>

      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th>Categoria</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Vencimento</th>
            <th>Situação</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i = 0; i < objDados.expenses.length; i++) { %>
            <tr>
              <td>
                <%= objDados.expenses[i].category %>
              </td>
              <td>
                <%= objDados.expenses[i].name %>
              </td>
              <td></td>
              <td>
                <%= objDados.expenses[i].due %>
              </td>
              <td></td>
            </tr>
            <% } %>
              <tr>
                <td>Total de despesas</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
        </tbody>
      </table>

    </main>
    <footer>
      <%- include('./partials/footer.ejs'); -%>
    </footer>
    <%- include('./partials/scripts.ejs'); -%>
  </div>
</body>

</html>