<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('./partials/head.ejs'); -%>
  </head>

  <body>
    <header class="text-center">
      <%- include('./partials/header.ejs'); -%>
    </header>
    <main role="main" class="container">
      <div class="title">
        <h1>Reports</h1>
      </div>
      <div class="row">
        <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-3">
          <button
            type="button"
            class="btn btn-outline-info buttonInput"
            data-toggle="modal"
            data-target="#revenueModal"
          >
            Adicionar Receita
          </button>
          <button
            type="button"
            class="btn btn-outline-info buttonInput"
            data-toggle="modal"
            data-target="#expenseModal"
          >
            Adicionar Despesa
          </button>
          <button
            type="button"
            class="btn btn-outline-info buttonInput"
            data-toggle="modal"
            data-target="#categoryModal"
          >
            Adicionar Categoria
          </button>
          <button
            type="button"
            class="btn btn-outline-info buttonInput"
            data-toggle="modal"
            data-target="#expenseModalDel"
          >
            Remover Despesa
          </button>
          <button
            type="button"
            class="btn btn-outline-info buttonInput"
            data-toggle="modal"
            data-target="#revenueModalDel"
          >
            Remover Receita
          </button>
          <button
            type="button"
            class="btn btn-outline-info buttonInput"
            data-toggle="modal"
            data-target="#categoryModalDel"
          >
            Remover Categoria
          </button>
          <button
            type="button"
            class="btn btn-outline-info buttonInput"
            data-toggle="modal"
            data-target="#revenueModalInsert"
          >
            Inserir Receita
          </button>
          <button
            type="button"
            class="btn btn-outline-info buttonInput"
            data-toggle="modal"
            data-target="#expenseModalInsert"
          >
            Inserir Despesa
          </button>
        </div>

          

        <%- include('./partials/table.ejs', {objDados, year, month}); -%>

        <%- include('./partials/modal.ejs', {objDados}); -%>
      </div>

    </main>
    <footer class="footer text-center">
      <%- include('./partials/footer.ejs'); -%>
    </footer>
    <%- include('./partials/scripts.ejs'); -%>
  </body>
</html>
